body {
    font-height: 100%;
}
.ui-icon-1 {
    background-image: url(ui-icons.png);
    background-position: 0 0;
}
.ui-icon-2 {
    background-image: url(ui-icons.png);
    background-position: -16px 0;
}
